* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  scroll-behavior: smooth;
  font-family: Arial, 'Noto Sans TC', '文泉驛正黑', 'WenQuanYi Zen Hei', '儷黑 Pro', 'LiHei Pro', '微軟正黑體', 'Microsoft JhengHei', sans-serif;
}

*:focus:not(:focus-visible),
*::before:focus:not(:focus-visible),
*::after:focus:not(:focus-visible) {
  outline: none;
}

a {
  font-family: Poppins-Regular;
  font-size: 0.875rem;
  line-height: 1.7;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  text-decoration: none;
  color: #333333;
}

a:active, a:hover, a:focus {
  opacity: 0.9;
  text-decoration: none;
}

:focus-visible {
  background: #ffbf47;
  outline: #000 auto 1px;
  color: #000 !important;
}

.hover\:opacity-80:hover {
  opacity: 0.8;
}

.btn:focus {
  /* outline: 0; */
  box-shadow: none;
}

.dropdown-toggle::after {
  vertical-align: 0.2rem;
  font-size: 1.5rem;
  color: #31525b;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

p {
  font-family: Poppins-Regular;
  font-size: 0.875rem;
  line-height: 1.7;
  margin: 0px;
}

ul, li {
  margin: 0px;
  list-style-type: none;
}

input {
  /* outline: none; */
  border: none;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  color: #adadad;
}

input:-moz-placeholder {
  color: #adadad;
}

input::-moz-placeholder {
  color: #adadad;
}

input:-ms-input-placeholder {
  color: #adadad;
}

button {
  /* outline: none !important; */
  border: none;
  background: transparent;
}

button:hover, .pointer {
  cursor: pointer;
}

iframe {
  border: none !important;
}

.txt1 {
  font-family: Poppins-Regular;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #333333;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #333333;
  text-transform: uppercase;
}

.color-01 {
  color: #bc4337;
}

.color-02 {
  color: #4740e8;
}

.color-03 {
  color: #eb8f00;
}

.color-04 {
  color: #007f64;
}

.color-05 {
  color: #da7400;
}

.color-1c {
  color: #1c519d;
}

.color-33 {
  color: #333333;
}

.color-a1 {
  color: #fae6b1;
}

.color-a2 {
  color: #ffa101;
}

.color-b1 {
  color: #b3dee5;
}

.color-b2 {
  color: #31525b;
}

.color-b3 {
  color: #7ca9b1;
}

.color-8a {
  color: #8a8f8b;
}

.color-titl {
  color: #f95734;
}

.color-titl2 {
  color: #173a47;
}

.fs-12 {
  font-size: 0.75rem;
}

.fs-14 {
  font-size: 0.875rem;
}

.fs-16 {
  font-size: 1rem;
}

.fs-18 {
  font-size: 1.125rem;
}

.fs-20 {
  font-size: 1.25rem;
}

.fs-24 {
  font-size: 1.5rem;
}

.fs-32 {
  font-size: 2rem;
}

.fs-36 {
  font-size: 2.25rem;
}

@media (min-width: 48rem) {
  .md\:fs-24 {
    font-size: 1.5rem;
  }

  .md\:fs-3p {
    font-size: 2.8vw;
  }

  .md\:fs-4p {
    font-size: 4vw;
  }
}

.bg01 {
  background-color: #ffe9e4;
}

.bg02 {
  background-color: #ede9fe;
}

.bg03 {
  background-color: #fff4d8;
}

.bg04 {
  background-color: #defcf9;
}

.bg05 {
  background-color: #efede4;
}

a.bg01:active, a.bg01:hover, a.bg01:focus {
  background: #ffd8d1;
  font-weight: 700;
}

a.bg02:active, a.bg02:hover, a.bg02:focus {
  background: #e0d9ff;
  font-weight: 700;
}

a.bg03:active, a.bg03:hover, a.bg03:focus {
  background: #ffecbc;
  font-weight: 700;
}

a.bg04:active, a.bg04:hover, a.bg04:focus {
  background: #c9fffa;
  font-weight: 700;
}

a.bg05:active, a.bg05:hover, a.bg05:focus {
  background: #e4ddbb;
  font-weight: 700;
}

.bg1 {
  background-color: #3b5998;
}

.bg2 {
  background-color: #1da1f2;
}

.bg3 {
  background-color: #ea4335;
}

.bg-a1 {
  background: #fae6b1;
}

.bg-a2 {
  background: #ffa101;
}

.bg-b1 {
  background: #b3dee5;
}

.bg-b2 {
  background: #31525b;
}

h2 {
  font-size: 2rem !important;
  /* line-height: 3rem; */
  /* letter-spacing: 0; */
}

@media (max-width: 48rem) {
  h2 {
    font-size: 1.5rem !important;
  }
}

h4 {
  font-size: 1.5rem !important;
}

h5 {
  font-size: 1.25rem !important;
}

p {
  font-size: 1rem !important;
}

.limiter {
  width: 100%;
  margin: 0 auto;
}

/* .containers, .containers-fluid, .containers-lg, .containers-md, .container-sm, .container-xl, .container-xxl {
  padding-right: calc(var(--bs-gutter-x) * 1);
  padding-left: calc(var(--bs-gutter-x) * 1);
} */

.containers, .containers-fluid, .containers-lg, .containers-md, .containers-sm, .containers-xl, .containers-xxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 36rem) {
  .containers, .containers-sm {
    max-width: 540px;
  }
}

@media (min-width: 48rem) {
  .containers, .containers-md, .containers-sm {
    max-width: 720px;
  }
}

@media (min-width: 62rem) {
  .containers, .containers-lg, .containers-md, .containers-sm {
    max-width: 960px;
  }
}

@media (min-width: 75rem) {
  .containers, .containers-lg, .containers-md, .containers-sm, .containers-xl {
    max-width: 1140px;
  }
}

@media (min-width: 87.5rem) {
  .containers, .containers-lg, .containers-md, .containers-sm, .containers-xl, .containers-xxl {
    max-width: 82.5rem;
  }
}

.wrap-input {
  width: 100%;
  position: relative;
  /* border-bottom: 2px solid #d9d9d9; */
}

.wrap-input:focus {
  /* border-bottom: 2px solid #494949; */
}

.label-input {
  font-family: Poppins-Regular;
  font-size: 0.875rem;
  color: #333333;
  line-height: 1.5;
  padding-left: 0.4375rem;
}

.input {
  font-size: 1rem;
  color: #333333;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 2.25rem;
  background: transparent;
  padding: 0 0.4375rem 0 0.8125rem;
}


.focus-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.input:focus+svg {
  fill: #72b930;
}

.input-bom {
  border-bottom: 2px solid #d9d9d9;
}

.input-bom:has(.input:focus) {
  transition: all 1s ease;
  border-bottom: 2px solid #72b930;
}

.containers-login-form-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wrap-login-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
}

.login-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  /* background: #1c519d; */
  transition: all 0.5s;
  background: linear-gradient(to right, #6da5f2, #1c519d, #6da5f2, #1c519d);
  top: 0;
  left: -100%;
  /* background: -webkit-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
  background: -o-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
  background: -moz-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s; */
}

.login-form-btn {
  font-size: 1rem;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
}

.wrap-login-form-btn:hover .login-form-bgbtn {
  transition: all 0.5s;
  left: 0;
  /* background: linear-gradient(to right, #1c519d, #6da5f2); */
}

.validate-input {
  position: relative;
}


.login-social-item {
  font-size: 25px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
}

.login-social-item:hover {
  color: #fff;
  background-color: #333333;
}

@media (max-width: 36rem) {
  .wrap-login {
    padding-left: 15px;
    padding-right: 15px;
  }
}

hr.pair {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #8f41e9, rgba(0, 0, 0, 0));
  height: 1px;
  border-top: 0;
  background-color: transparent;
}

.page-header {
  padding: 0;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: 50%;
}

.min-vh-50 {
  min-height: 50vh !important;
}

.mask {
  position: absolute;
  background-size: cover;
  background-position: 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .4;
}

.bg-gradient-info {
  /* background-image: linear-gradient(310deg, #2152ff, #21d4fd); */
  background-image: linear-gradient(310deg, #31525b, #b3dee5);
  /* background-image: linear-gradient(310deg, #ffa101, #fae6b1); */
}

.z-index-1 {
  z-index: 1 !important;
}

.logo {
  width: 11.25rem;
}

.logon {
  width: 30px;
}

.studimg {
  width: 2.25rem;
  display: inline;
}

@media(min-width:48rem) {
  .logo {
    width: 15.625rem;
  }

  .logon {
    width: 40px;
  }

  .studimg {
    width: 3rem;
  }
}

.nav-top {
  border-top: 1px solid #22cebb !important;
}

.iconbg {
  /* background-image: linear-gradient(310deg, #2152ff, #21d4fd); */
  background-image: linear-gradient(310deg, #31525b, #b3dee5);
  border-radius: 0.5rem;
  width: fit-content;
}

.wisdom {
  min-width: 12.5rem;
  height: 12.5rem;
  background: #0085d4;
  color: #fff;
}

.wisdom.active {
  background: #ffd200;
  color: #0085d4;
  height: 15.625rem;
  border-radius: 0.5rem 0.5rem 0 0;
}

.scard {
  /* border-radius: 1rem; */
  /* box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15); */
  background: url('../img/bg-1.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 232px;
  background-attachment: local;
  -webkit-filter: drop-shadow(0 0 0.5rem rgba(136, 152, 170, 0.35));
  filter: drop-shadow(0 0 0.5rem rgba(136, 152, 170, 0.35));
}

.nav {
  align-items: end;
}

.nav-pills .nav-link {
  /* background: #0085d4; */
  /* color: #fff; */
  color: #005c84;
  height: 12.5rem;
  min-width: 12.5rem;
  max-width: 252px;
  border-radius: 0;
  /* background-image: linear-gradient(315deg, #0085d4, #0aa4ff); */
  background-image: linear-gradient(315deg, #fafafa, #ffffff);
  border: 1px solid #efefef;
  overflow: hidden;
}

.nav-pills .nav-item:nth-child(1) .nav-link {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.nav-pills .nav-item:nth-child(5) .nav-link {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background: #ffd200;
  color: #005c84;
  height: 242px;
  border-radius: 0.5rem 0.5rem 0 0;
  background-image: linear-gradient(315deg, #ffa101, #fae6b1);
}

.btn-gradient {
  border-radius: 12px;
  color: #005c84;
  background: linear-gradient(315deg, #ffa101, #fae6b1) !important;
}

.wisicon {
  border: 1px solid #ffa101;
  border-radius: 0.5rem;
  width: 50px;
  height: 50px;
  line-height: 30px;
}

.nav-link.active .wisicon {
  background-image: linear-gradient(310deg, #31525b, #b3dee5);
  border: 0;
}

.card {
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15);
  border: 0;
  border-radius: 1rem;
  /* width: fit-content; */
}

.card-app {
  display: flex;
  flex-direction: column;
  /* align-items:center; */
  border-radius: 1.5rem;
  border: 1px solid #d7d7d7;
  font-size: 1rem;
  /* font-weight: 600; */
  cursor: pointer;
  max-width: 276px;
  text-align: justify;
}

.card-app:hover {
  border: 1px solid #fff;
  box-shadow: 0 0 10px 5px #0002;
  transform: translate(-1px, -1px);
}

.card-app img {
  max-width: 12.5rem;
  /* max-height: 40px; */
  width: 50%;
  /* border-image: initial; */
  /* border-radius: 50%; */
  /* margin-right: 0; */
  /* border: 1px solid #d7d7d7; */
  /* margin-left: 0.5rem; */
}

@media (min-width:48rem) {
  .card-app {
    border-radius: 50px;
    font-size: 1.125rem;
  }
}

.carousel-item img {
  /* min-height: 15.625rem;
  object-fit: cover; */
}

.app-bg {
  background: url(../img/bg1.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #efede4;
}

.dropdown-menu {
  min-width: 10rem;
  border-radius: 0.5rem;
}

input[type=radio] {
  display: none;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.form-check-input {
  margin-top: 5px;
  position: inherit;
  margin-left: 0;
}

input[type=radio]:checked+label span {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  background: url(../img/Radiobutton_checked.png) 0 0/1.5rem;
}

input[type=radio]:checked+label div {
  color: #497a87;
}

input[type=radio]+label span {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  background: url(../img/Radiobutton.png) 0 0/1.5rem;
  margin-right: 10px;
}

.dropdown-item:active, .dropdown-item:focus, .dropdown-item:hover,
.dropdown-menu li:active, .dropdown-menu li:checked, .dropdown-menu li:focus,
.dropdown-menu li:hover, input[type=radio]:checked+label {
  background: #f6f6f6;
}

.dropdown-item.active, .dropdown-item:active {
  color: #7ca9b1;
  text-decoration: none;
}

.itemname {
  font-weight: 600;
  font-size: 1.125rem;
}

.dropdown-item {
  padding: 0.75rem 1rem;
}

.svc-list {
  display: flex;
  flex-wrap: wrap;
  /* height: 220px; */
  /* overflow: hidden; */
}

.svc-item {
  border: 1px solid rgb(215, 215, 215);
  border-image: initial;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  color: #828282;
}

/* .svc-item:hover {
  box-shadow: 0 0 10px #0002;
  border: 0;
  text-decoration: none;
  color: #323232;
  margin-bottom: 2px;
} */

.citem:hover {
  box-shadow: 0 0 10px #0002;
}

.sec-title {
  padding: 2rem 0 1.5rem 1.5rem;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 600;
}

.btslider img {
  width: 100%;
  max-width: 3rem;
  margin: auto;
  margin-bottom: 0.5rem;
}

.respi {
  border: 1px solid #FCF9F3;
  box-sizing: border-box;
  border-radius: 0.5rem;
  padding: 0.8125rem 20px;
  margin: -3px;
}

.respi:hover {
  border: 1px solid #76b1c1;
  box-sizing: border-box;
  border-radius: 0.5rem;
}

a.resp-slide {
  color: #000000;
}

.resp-slide {
  /* position: relative; */
}

.btslider .img-txt {
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-align: center;
  white-space: inherit;
  /* width: 5rem; */
  word-break: keep-all;
  /* margin-left: -20px;
  margin-right: -20px; */
  font-weight: 400;
}

@media (max-width:630px) {
  .btslider .img-txt {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  .btslider img {
    max-width: 44px;
  }
}

.tsite {
  text-align: center;
  margin: 0;
  border: 1px solid #dedede;
  border-top: none;
  border-left: none;
  padding: 20px;
  position: static;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.tsite:hover {
  border: 1px solid #B4B4BC;
  box-shadow: inset 0px 0px 0.4375rem 0px #b4b4bc;
}

.tsite img {
  max-height: 110px;
}

.bg-bodys {
  background-color: #FFF;
}

.box-s {
  box-shadow: none;
}

@media (min-width: 640px) {
  .bg-bodys {
    background-color: #F0F1F3;
  }

  .box-s {
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.12);
  }
}

.color-2d {
  color: #2d333a;
}

.color-ac {
  color: #0067ac;
}

.color-f3, .color-f3:hover {
  color: #f36c21;
}

@media (min-width: 640px) {
  .sm\:mt-12 {
    margin-top: 3rem
      /* 3rem */
    ;
  }
}

.shrink-0 {
  flex-shrink: 0;
}

.btn.btn-round {
  border-radius: 1.875rem;
}

.btn-outline-primary {
  color: #0067ac;
  border-color: #0067ac;
}

.btn-outline-gray {
  color: #aaaaaa;
  border-color: #aaaaaa;
}

.btn {
  padding: 0.75rem 1.25rem;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #0067ac;
  border-color: #0067ac;
}

.orborder::before, .orborder::after {
  content: '';
  border-top: 1px solid #e6e6e6;
  width: 45%;
}

.showlogin::after {
  font-size: 1.5rem;
  line-height: 1rem;
  vertical-align: -0.302198em;
  font-family: 'Material Icons';
  display: inline-block;
  margin-left: 5px;
  color: #a2a2a2;
  cursor: pointer;
}

.showlogin[aria-expanded='true']::after {
  content: "expand_less";
}

.showlogin[aria-expanded='false']::after {
  content: "expand_more";
}

.btn-org, .btn.btn-org:hover {
  background: #f95734;
  color: #fff;
  border-radius: 1.5rem;
}

.card.rounded-50 {
  border-radius: 1.5rem;
  box-shadow: none;
  cursor: pointer;
}

@media (min-width:48rem) {
  .card.rounded-50 {
    border-radius: 50px;
  }
}

.card.rounded-50:hover {
  box-shadow: 0 0 10px 5px #0002;
  transform: translate(-1px, -1px);
}

@media (min-width: 640px) {
  .sm\:px-16 {
    padding-left: 4rem
      /* 64px */
    ;
    padding-right: 4rem
      /* 64px */
    ;
  }

  .sm\:py-10 {
    padding-top: 2.5rem
      /* 40px */
    ;
    padding-bottom: 2.5rem
      /* 40px */
    ;
  }
}

@media (min-width: 768px) {
  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .md\:gap-x-7 {
    column-gap: 1.75rem;
  }

  .md\:fs-18 {
    font-size: 1.125rem;
  }

  .md\:fs-24 {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .lg\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 1280px) {
  .xl\:grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .xl\:flex-row {
    flex-direction: row;
  }
}

.grid-self {
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(24, 100px);
}

.grid-self-1 {
  grid-row: 1/7;
  background: #de9baa;
  color: #a7bccc;
  border-radius: 25px;
}

.grid-self-2 {
  grid-row: 7/12;
}

.grid-self-4 {
  grid-row: 12/16;
  background: #a7bccc;
  color: #fff;
  border-radius: 25px;
}

.grid-self-3 {
  grid-row: 16/19;
  background: #ffc35b;
  border-radius: 25px;
}  

.grid-self-5 {
  grid-row: 19/22;
  background: #000;
  color: #fff;
  border-radius: 25px;
}

.grid-self-6 {
  grid-row: 22/25;
}

@media (min-width: 576px) {
  .grid-self {
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: repeat(12, 100px);
  }

  .grid-self-1 {
    border-radius: 50px 0 0 0;
  }
  
  .grid-self-2 {
    grid-row: 1/6;
  }
  
  .grid-self-4 {
    grid-row: 6/10;
    border-radius: 0 0 50px 0;
  }
  
  .grid-self-3 {
    grid-row: 7/10;
    border-radius: 0 0 0 50px;
  }  
  
  .grid-self-5 {
    grid-row: 10/13;
    border-radius: 50px 0 50px 50px;
  }
  
  .grid-self-6 {
    grid-row: 10/13;
  }
  
}
