/*
* Noto Sans TC (Chinese_traditional) http://www.google.com/fonts/earlyaccess
 */
 @font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/notoSans/NotoSansTC-Thin.woff2) format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/notoSans/NotoSansTC-Light.woff2) format('woff2');
  font-display: swap;
}
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 400;
   src: url(../fonts/notoSans/NotoSansTC-Regular.woff2) format('woff2');
  font-display: swap;
 }
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 500;
   src: url(../fonts/notoSans/NotoSansTC-Medium.woff2) format('woff2');
  font-display: swap;
 }
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/notoSans/NotoSansTC-Bold.woff2) format('woff2');
  font-display: swap;
 }
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 900;
   src: url(../fonts/notoSans/NotoSansTC-Black.woff2) format('woff2');
  font-display: swap;
 }
